@import url("https://fonts.googleapis.com/css2?family=Roboto%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C700%3B0%2C900&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-HFlIIxjpNfo: rgb(164, 71, 225);
  --plasmic-token-background: var(--token-HFlIIxjpNfo);
  --token-GaVRotvtT5g: rgb(162, 162, 162);
  --plasmic-token-dim-text: var(--token-GaVRotvtT5g);
}

.plasmic_default_styles {
  --mixin-Q6QwY2zoyaj_font-family: "Roboto";
  --mixin-Q6QwY2zoyaj_font-size: 14px;
  --mixin-Q6QwY2zoyaj_font-weight: 400;
  --mixin-Q6QwY2zoyaj_font-style: normal;
  --mixin-Q6QwY2zoyaj_color: #535353;
  --mixin-Q6QwY2zoyaj_text-align: left;
  --mixin-Q6QwY2zoyaj_text-transform: none;
  --mixin-Q6QwY2zoyaj_line-height: 1.5;
  --mixin-Q6QwY2zoyaj_letter-spacing: normal;
  --mixin-Q6QwY2zoyaj_white-space: pre-wrap;
  --mixin-Q6QwY2zoyaj_user-select: text;
  --mixin-Q6QwY2zoyaj_text-overflow: clip;
  --mixin-Q6QwY2zoyaj_text-decoration-line: none;
  --mixin-A4YeSAEiEfP_font-family: "Inter";
  --mixin-A4YeSAEiEfP_color: #000000;
  --mixin-A4YeSAEiEfP_font-size: 72px;
  --mixin-A4YeSAEiEfP_font-weight: 900;
  --mixin-A4YeSAEiEfP_letter-spacing: -4px;
  --mixin-A4YeSAEiEfP_line-height: 1;
  --mixin-pLAnnC2D5zW_font-family: "Inter";
  --mixin-pLAnnC2D5zW_color: #000000;
  --mixin-pLAnnC2D5zW_font-size: 48px;
  --mixin-pLAnnC2D5zW_font-weight: 700;
  --mixin-pLAnnC2D5zW_letter-spacing: -1px;
  --mixin-pLAnnC2D5zW_line-height: 1.1;
  --mixin-eHa2tD6RMAJ_font-family: "Inter";
  --mixin-eHa2tD6RMAJ_color: #000000;
  --mixin-eHa2tD6RMAJ_font-size: 32px;
  --mixin-eHa2tD6RMAJ_font-weight: 600;
  --mixin-eHa2tD6RMAJ_letter-spacing: -0.8px;
  --mixin-eHa2tD6RMAJ_line-height: 1.2;
  --mixin-3obnVS3kXkq_font-family: "Inter";
  --mixin-3obnVS3kXkq_color: #000000;
  --mixin-3obnVS3kXkq_font-size: 24px;
  --mixin-3obnVS3kXkq_font-weight: 600;
  --mixin-3obnVS3kXkq_letter-spacing: -0.5px;
  --mixin-3obnVS3kXkq_line-height: 1.3;
  --mixin-HXUKYo-8s_5_font-family: "Inter";
  --mixin-HXUKYo-8s_5_color: #000000;
  --mixin-HXUKYo-8s_5_font-size: 20px;
  --mixin-HXUKYo-8s_5_font-weight: 600;
  --mixin-HXUKYo-8s_5_letter-spacing: -0.3px;
  --mixin-HXUKYo-8s_5_line-height: 1.5;
  --mixin-0jnRO0AauW6_font-family: "Inter";
  --mixin-0jnRO0AauW6_color: #000000;
  --mixin-0jnRO0AauW6_font-size: 16px;
  --mixin-0jnRO0AauW6_font-weight: 600;
  --mixin-0jnRO0AauW6_line-height: 1.5;
  --mixin-SZnQtMiQ4G5_border-left-color: #dddddd;
  --mixin-SZnQtMiQ4G5_border-left-style: solid;
  --mixin-SZnQtMiQ4G5_border-left-width: 3px;
  --mixin-SZnQtMiQ4G5_color: #888888;
  --mixin-SZnQtMiQ4G5_padding-left: 10px;
  --mixin-YhAf6RmaYL__background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-YhAf6RmaYL__border-bottom-color: #dddddd;
  --mixin-YhAf6RmaYL__border-bottom-style: solid;
  --mixin-YhAf6RmaYL__border-bottom-width: 1px;
  --mixin-YhAf6RmaYL__border-left-color: #dddddd;
  --mixin-YhAf6RmaYL__border-left-style: solid;
  --mixin-YhAf6RmaYL__border-left-width: 1px;
  --mixin-YhAf6RmaYL__border-right-color: #dddddd;
  --mixin-YhAf6RmaYL__border-right-style: solid;
  --mixin-YhAf6RmaYL__border-right-width: 1px;
  --mixin-YhAf6RmaYL__border-top-color: #dddddd;
  --mixin-YhAf6RmaYL__border-top-style: solid;
  --mixin-YhAf6RmaYL__border-top-width: 1px;
  --mixin-YhAf6RmaYL__border-bottom-left-radius: 3px;
  --mixin-YhAf6RmaYL__border-bottom-right-radius: 3px;
  --mixin-YhAf6RmaYL__border-top-left-radius: 3px;
  --mixin-YhAf6RmaYL__border-top-right-radius: 3px;
  --mixin-YhAf6RmaYL__font-family: "Inconsolata";
  --mixin-YhAf6RmaYL__padding-bottom: 1px;
  --mixin-YhAf6RmaYL__padding-left: 4px;
  --mixin-YhAf6RmaYL__padding-right: 4px;
  --mixin-YhAf6RmaYL__padding-top: 1px;
  --mixin-WoMpy4HsNKk_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-WoMpy4HsNKk_border-bottom-color: #dddddd;
  --mixin-WoMpy4HsNKk_border-bottom-style: solid;
  --mixin-WoMpy4HsNKk_border-bottom-width: 1px;
  --mixin-WoMpy4HsNKk_border-left-color: #dddddd;
  --mixin-WoMpy4HsNKk_border-left-style: solid;
  --mixin-WoMpy4HsNKk_border-left-width: 1px;
  --mixin-WoMpy4HsNKk_border-right-color: #dddddd;
  --mixin-WoMpy4HsNKk_border-right-style: solid;
  --mixin-WoMpy4HsNKk_border-right-width: 1px;
  --mixin-WoMpy4HsNKk_border-top-color: #dddddd;
  --mixin-WoMpy4HsNKk_border-top-style: solid;
  --mixin-WoMpy4HsNKk_border-top-width: 1px;
  --mixin-WoMpy4HsNKk_border-bottom-left-radius: 3px;
  --mixin-WoMpy4HsNKk_border-bottom-right-radius: 3px;
  --mixin-WoMpy4HsNKk_border-top-left-radius: 3px;
  --mixin-WoMpy4HsNKk_border-top-right-radius: 3px;
  --mixin-WoMpy4HsNKk_font-family: "Inconsolata";
  --mixin-WoMpy4HsNKk_padding-bottom: 3px;
  --mixin-WoMpy4HsNKk_padding-left: 6px;
  --mixin-WoMpy4HsNKk_padding-right: 6px;
  --mixin-WoMpy4HsNKk_padding-top: 3px;
  --mixin-o95ScD6SpsZ_display: flex;
  --mixin-o95ScD6SpsZ_flex-direction: column;
  --mixin-o95ScD6SpsZ_align-items: stretch;
  --mixin-o95ScD6SpsZ_justify-content: flex-start;
  --mixin-o95ScD6SpsZ_list-style-position: outside;
  --mixin-o95ScD6SpsZ_padding-left: 40px;
  --mixin-o95ScD6SpsZ_position: relative;
  --mixin-o95ScD6SpsZ_list-style-type: decimal;
  --mixin-FxvAwXmxTU7_display: flex;
  --mixin-FxvAwXmxTU7_flex-direction: column;
  --mixin-FxvAwXmxTU7_align-items: stretch;
  --mixin-FxvAwXmxTU7_justify-content: flex-start;
  --mixin-FxvAwXmxTU7_list-style-position: outside;
  --mixin-FxvAwXmxTU7_padding-left: 40px;
  --mixin-FxvAwXmxTU7_position: relative;
  --mixin-FxvAwXmxTU7_list-style-type: disc;
}

.plasmic_mixins {
  --mixin-PJYg6eFKYi0_box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
  --plasmic-mixin-standard-shadow_box-shadow: var(
    --mixin-PJYg6eFKYi0_box-shadow
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_rich_text *),
:where(.__wab_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_rich_text img),
:where(.__wab_text img) {
}

:where(.li) {
  display: list-item;
}
:where(.__wab_rich_text li),
:where(.__wab_text li) {
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_rich_text span),
:where(.__wab_text span) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_rich_text input),
:where(.__wab_text input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_rich_text textarea),
:where(.__wab_text textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_rich_text button),
:where(.__wab_text button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_rich_text code),
:where(.__wab_text code) {
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_rich_text pre),
:where(.__wab_text pre) {
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_rich_text p),
:where(.__wab_text p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h1),
:where(.__wab_text h1) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h2),
:where(.__wab_text h2) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h3),
:where(.__wab_text h3) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h4),
:where(.__wab_text h4) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h5),
:where(.__wab_text h5) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h6),
:where(.__wab_text h6) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_rich_text address),
:where(.__wab_text address) {
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_rich_text a),
:where(.__wab_text a) {
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_rich_text ol),
:where(.__wab_text ol) {
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_rich_text ul),
:where(.__wab_text ul) {
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_rich_text select),
:where(.__wab_text select) {
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-Q6QwY2zoyaj_font-family);
  font-size: var(--mixin-Q6QwY2zoyaj_font-size);
  font-weight: var(--mixin-Q6QwY2zoyaj_font-weight);
  font-style: var(--mixin-Q6QwY2zoyaj_font-style);
  color: var(--mixin-Q6QwY2zoyaj_color);
  text-align: var(--mixin-Q6QwY2zoyaj_text-align);
  text-transform: var(--mixin-Q6QwY2zoyaj_text-transform);
  line-height: var(--mixin-Q6QwY2zoyaj_line-height);
  letter-spacing: var(--mixin-Q6QwY2zoyaj_letter-spacing);
  white-space: var(--mixin-Q6QwY2zoyaj_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset .__wab_text h1),
:where(.root_reset.plasmic_default__h1) {
  font-family: var(--mixin-A4YeSAEiEfP_font-family);
  color: var(--mixin-A4YeSAEiEfP_color);
  font-size: var(--mixin-A4YeSAEiEfP_font-size);
  font-weight: var(--mixin-A4YeSAEiEfP_font-weight);
  letter-spacing: var(--mixin-A4YeSAEiEfP_letter-spacing);
  line-height: var(--mixin-A4YeSAEiEfP_line-height);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset .__wab_text h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-pLAnnC2D5zW_font-family);
  color: var(--mixin-pLAnnC2D5zW_color);
  font-size: var(--mixin-pLAnnC2D5zW_font-size);
  font-weight: var(--mixin-pLAnnC2D5zW_font-weight);
  letter-spacing: var(--mixin-pLAnnC2D5zW_letter-spacing);
  line-height: var(--mixin-pLAnnC2D5zW_line-height);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset .__wab_text h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-eHa2tD6RMAJ_font-family);
  color: var(--mixin-eHa2tD6RMAJ_color);
  font-size: var(--mixin-eHa2tD6RMAJ_font-size);
  font-weight: var(--mixin-eHa2tD6RMAJ_font-weight);
  letter-spacing: var(--mixin-eHa2tD6RMAJ_letter-spacing);
  line-height: var(--mixin-eHa2tD6RMAJ_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset .__wab_text h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-3obnVS3kXkq_font-family);
  color: var(--mixin-3obnVS3kXkq_color);
  font-size: var(--mixin-3obnVS3kXkq_font-size);
  font-weight: var(--mixin-3obnVS3kXkq_font-weight);
  letter-spacing: var(--mixin-3obnVS3kXkq_letter-spacing);
  line-height: var(--mixin-3obnVS3kXkq_line-height);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset .__wab_text h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-HXUKYo-8s_5_font-family);
  color: var(--mixin-HXUKYo-8s_5_color);
  font-size: var(--mixin-HXUKYo-8s_5_font-size);
  font-weight: var(--mixin-HXUKYo-8s_5_font-weight);
  letter-spacing: var(--mixin-HXUKYo-8s_5_letter-spacing);
  line-height: var(--mixin-HXUKYo-8s_5_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset .__wab_text h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-0jnRO0AauW6_font-family);
  color: var(--mixin-0jnRO0AauW6_color);
  font-size: var(--mixin-0jnRO0AauW6_font-size);
  font-weight: var(--mixin-0jnRO0AauW6_font-weight);
  line-height: var(--mixin-0jnRO0AauW6_line-height);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset .__wab_text blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-SZnQtMiQ4G5_color);
  padding-left: var(--mixin-SZnQtMiQ4G5_padding-left);
  border-left: var(--mixin-SZnQtMiQ4G5_border-left-width)
    var(--mixin-SZnQtMiQ4G5_border-left-style)
    var(--mixin-SZnQtMiQ4G5_border-left-color);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset .__wab_text code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-YhAf6RmaYL__background);
  font-family: var(--mixin-YhAf6RmaYL__font-family);
  border-radius: var(--mixin-YhAf6RmaYL__border-top-left-radius)
    var(--mixin-YhAf6RmaYL__border-top-right-radius)
    var(--mixin-YhAf6RmaYL__border-bottom-right-radius)
    var(--mixin-YhAf6RmaYL__border-bottom-left-radius);
  padding: var(--mixin-YhAf6RmaYL__padding-top)
    var(--mixin-YhAf6RmaYL__padding-right)
    var(--mixin-YhAf6RmaYL__padding-bottom)
    var(--mixin-YhAf6RmaYL__padding-left);
  border-top: var(--mixin-YhAf6RmaYL__border-top-width)
    var(--mixin-YhAf6RmaYL__border-top-style)
    var(--mixin-YhAf6RmaYL__border-top-color);
  border-right: var(--mixin-YhAf6RmaYL__border-right-width)
    var(--mixin-YhAf6RmaYL__border-right-style)
    var(--mixin-YhAf6RmaYL__border-right-color);
  border-bottom: var(--mixin-YhAf6RmaYL__border-bottom-width)
    var(--mixin-YhAf6RmaYL__border-bottom-style)
    var(--mixin-YhAf6RmaYL__border-bottom-color);
  border-left: var(--mixin-YhAf6RmaYL__border-left-width)
    var(--mixin-YhAf6RmaYL__border-left-style)
    var(--mixin-YhAf6RmaYL__border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset .__wab_text pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-WoMpy4HsNKk_background);
  font-family: var(--mixin-WoMpy4HsNKk_font-family);
  border-radius: var(--mixin-WoMpy4HsNKk_border-top-left-radius)
    var(--mixin-WoMpy4HsNKk_border-top-right-radius)
    var(--mixin-WoMpy4HsNKk_border-bottom-right-radius)
    var(--mixin-WoMpy4HsNKk_border-bottom-left-radius);
  padding: var(--mixin-WoMpy4HsNKk_padding-top)
    var(--mixin-WoMpy4HsNKk_padding-right)
    var(--mixin-WoMpy4HsNKk_padding-bottom)
    var(--mixin-WoMpy4HsNKk_padding-left);
  border-top: var(--mixin-WoMpy4HsNKk_border-top-width)
    var(--mixin-WoMpy4HsNKk_border-top-style)
    var(--mixin-WoMpy4HsNKk_border-top-color);
  border-right: var(--mixin-WoMpy4HsNKk_border-right-width)
    var(--mixin-WoMpy4HsNKk_border-right-style)
    var(--mixin-WoMpy4HsNKk_border-right-color);
  border-bottom: var(--mixin-WoMpy4HsNKk_border-bottom-width)
    var(--mixin-WoMpy4HsNKk_border-bottom-style)
    var(--mixin-WoMpy4HsNKk_border-bottom-color);
  border-left: var(--mixin-WoMpy4HsNKk_border-left-width)
    var(--mixin-WoMpy4HsNKk_border-left-style)
    var(--mixin-WoMpy4HsNKk_border-left-color);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset .__wab_text ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-o95ScD6SpsZ_display);
  flex-direction: var(--mixin-o95ScD6SpsZ_flex-direction);
  align-items: var(--mixin-o95ScD6SpsZ_align-items);
  justify-content: var(--mixin-o95ScD6SpsZ_justify-content);
  list-style-position: var(--mixin-o95ScD6SpsZ_list-style-position);
  padding-left: var(--mixin-o95ScD6SpsZ_padding-left);
  position: var(--mixin-o95ScD6SpsZ_position);
  list-style-type: var(--mixin-o95ScD6SpsZ_list-style-type);
  flex-column-gap: var(--mixin-o95ScD6SpsZ_flex-column-gap);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset .__wab_text ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-FxvAwXmxTU7_display);
  flex-direction: var(--mixin-FxvAwXmxTU7_flex-direction);
  align-items: var(--mixin-FxvAwXmxTU7_align-items);
  justify-content: var(--mixin-FxvAwXmxTU7_justify-content);
  list-style-position: var(--mixin-FxvAwXmxTU7_list-style-position);
  padding-left: var(--mixin-FxvAwXmxTU7_padding-left);
  position: var(--mixin-FxvAwXmxTU7_position);
  list-style-type: var(--mixin-FxvAwXmxTU7_list-style-type);
  flex-column-gap: var(--mixin-FxvAwXmxTU7_flex-column-gap);
}
